*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    background-image: linear-gradient(rgba(212, 29, 157, 0.521), rgba(219, 134, 37, 0.795));
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .logo{
    width: 80 px;

}

nav ul li{

    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{

    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.content{

    text-align: center;

}

.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.card {
    max-width: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    max-width: 600px;
    height: 300px;
    padding: 45px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  }

  
  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }

  
  body {
    font: 1em/1.618 Inter, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
   
    
    color: #224;
    background:
      url(images/image.jpg)
      center / cover no-repeat fixed;
  }



  .cookies-eu-banner {

    font-weight: 600;
    background: rgba(182, 172, 37, 0.993);
    color: #ffffff;
    font-family:'Poppins', sans-serif;
    font-size: 160px;
    padding: 6px;
    font-size: 13px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
  
  
